/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}/*ol,ul{list-style:none}*/caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}


@font-face {
    font-family: "Open Sans Regular";
    src: url("OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans Light";
    src: url("OpenSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("OpenSans-Bold.ttf") format("truetype");
}


* {
    box-sizing: border-box;
}

li {
    margin: 5px;
    margin-left: 20px;
}

html {
    font-family: "Open Sans Regular", sans-serif;
    color: white;
    font-size: 1em;
    background: darkslategray;
}

body {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);
}

html, body, .Toothrot {
    height: 100%;
}

.Toothrot {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    z-index: 100;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans Bold", sans-serif;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

em, i {
    font-family: "Open Sans Regular", sans-serif;
    font-style: italic;
}

strong, b {
    font-family: "Open Sans Bold", sans-serif;
    font-weight: bold;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 10px;
    font-weight: bold;
}

.right {
    float: right;
}

#content {
    padding: 10px;
    padding-top: 60px;
    max-width: 600px;
    margin: auto;
}

.Highlighter {
    position: absolute;
    border-radius: 3px;
    border: 1px solid white;
    box-shadow: 0 0 2px black;
    z-index: 1000000;
    cursor: pointer;
}

.BackgroundDimmer {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: black;
}

.BackgroundDimmer {
    opacity: 0.8;
}

@keyframes pulse {
    
    0% {
        opacity: 1;
    }
    
    50% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

/*
.NextIndicator {
    width: 16px;
    height: 16px;
    position: absolute;
    right: -30px;
    bottom: -20px;
    margin: 0;
    padding: 0;
    opacity: 0.8;
    background: transparent url(progress-dots.gif) no-repeat center center;
}
*/

.NextIndicator {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 100%;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

.Text {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    backface-visibility: hidden;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 500px;
    margin: auto;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    min-height: 100%;
}

.Text p {
    margin-top: 20px;
}

.Text p:first-child {
    margin-top: 0;
}

.OptionsContainer {
    text-align: center;
    margin-top: 20px;
}

.Option {
    display: block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0;
    border-top: 0;
}

.Option:first-child {
    border-top: 1px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.Option:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*
.Option {
    display: block;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    background: rgba(50, 50, 50, 0.9);
    border: 1px solid rgb(20, 20, 20);
    box-shadow: 2px 2px 2px rgb(20, 20, 20);
    border-radius: 5px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0.9em;
    text-align: center;
}

.Option:hover {
    background: rgba(70, 70, 70, 0.9);
    border: 1px solid rgb(40, 40, 40);
}
*/

.Option:first-child {
    margin-top: 0;
}

.TimeoutContainer {
    padding: 2px;
    background: rgb(40, 40, 40);
    margin-top: 20px;
    margin-bottom: -5px;
    border-radius: 3px;
    box-shadow: inset 2px 2px 2px black;
}

.TimeoutContainer .TimerBar {
    border-radius: 3px;
    height: 8px;
    background: rgb(80, 80, 80);
    box-shadow: 1px 1px 1px rgba(20, 20, 20, 0.8);
    margin: auto;
}

.link, .link:visited {
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 1s;
    border-radius: 5px;
}

.link:hover {
    background: rgba(250, 250, 250, 0.2);
    color: rgba(255, 255, 255, 1);
}

/*
.direct_link {
    border-bottom: 1px dashed;
}
*/

.object_link {
    display: inline-block;
    margin: 5px;
    border-radius: 5px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}


#footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid rgb(50, 50, 50);
    padding: 5px;
    background: rgba(50, 50, 50, 0.6);
}

#buttons {
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.Button, .Option {
    padding: 10px;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-weight: bold;
    min-width: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition-duration: 0.5s;
}

.Button, .object_link {
    padding: 5px;
    display: inline-block;
}

.Button:hover, .Option:hover, .Action:hover, .object_link:hover {
    opacity: 0.8;
}

.Button:active, .Option:active, .Action:active, .object_link:active {
    box-shadow: inset 1px 1px 2px black;
    border: 1px solid rgb(50, 50, 50);
    border-bottom: 1px solid rgb(80, 80, 80);
    border-right: 1px solid rgb(80, 80, 80);
}

.Button img {
    margin: 0;
    padding: 0;
    display: block;
}

.Menu .Button {
    background: rgba(0, 0, 0, 0.3);
    border: none;
    box-shadow: none;
    transition-duration: 0.2s;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.Menu .Button:hover {
    background: rgba(0, 0, 0, 0.5);
}

.Curtain {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0;
    z-index: 10000;
}

.Screen {
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    background: rgb(20, 20, 20);
}

.Screen .Menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
}

.Screen .Menu ul {
    list-style-type: none;
    padding: 5px;
    margin: 0;
}

.SaveScreen .Menu, .SettingsScreen .Menu {
    position: absolute;
    left: 0;
    top: auto;
    right: 0;
    bottom: 0;
    transform: none;
    padding: 5px;
    z-index: 10000;
    background: rgb(20, 20, 20);
    text-align: right;
    padding: 10px;
}

.Screen .Menu *[data-type=menu-item] {
    display: block;
    margin-bottom: 10px;
}

.SaveScreen .Menu *[data-type=menu-item], .SettingsScreen .Menu *[data-type=menu-item] {
    display: inline-block;
    margin-bottom: 0;
    min-width: 100px;
}

.SaveScreen {
    overflow: hidden;
}

.SaveScreen .Slots {
    position: absolute;
    left: 0;
    top: 0;
    right: -30px;
    bottom: 0;
    overflow-y: scroll;
    padding-top: 50px;
    padding-bottom: 80px;
}

.SaveScreen .Slots *[data-type=slots] {
    margin: auto;
    max-width: 1250px;
    text-align: center;
}

.SaveScreen .Slots .index {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    width: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.SaveScreen .Slots ul {
    list-style-type: none;
    /*
    float: right;
    */
}

.SaveScreen .Slots ul ul {
    float: right;
}

.SaveScreen *[data-type=slot-time] {
    margin-bottom: 10px;
}

.SaveScreen li[data-type=slot] {
    border-radius: 5px;
    display: block;
    float: left;
    width: 580px;
    height: 140px;
    padding: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 20px;
    text-align: left;
}

.SaveScreen li[data-type=slot-button] {
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
}

.SaveScreen *[data-template-name=slot] {
    background: rgba(50, 50, 50, 0.8);
    border: 1px solid white;
}

.SaveScreen *[data-template-name=empty-slot] {
    background: rgba(50, 50, 50, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    opacity: 0.6;
}

.SaveScreen .disabled {
    opacity: 0.3;
    cursor: default !important;
}

.Screen *[data-type=menu-item] {
    cursor: pointer;
    padding: 10px;
    margin: 0;
    margin-bottom: 5px;
    border-radius: 5px;
    min-width: 200px;
    text-align: center;
}

.Screen *[data-type=menu-item]:last-child {
    margin-bottom: 0;
}




.Settings {
    width: 580px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Settings .Box {
    text-align: right;
    margin-bottom: 20px;
}

.Settings .Box label {
    float: left;
    font-weight: bold;
}

.Settings .Box input[type=range] {
    min-width: 300px;
}





.MessageBoxContainer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 12000;
    background: rgba(0, 0, 0, 0.8);
}

.MessageBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid white;
    border-radius: 5px;
    min-width: 500px;
    min-height: 100px;
    padding: 20px;
}

.MessageBox .Message {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.MessageBox .ButtonBar {
    text-align: right;
}

.MessageBox .Button {
    font-size: 1.2em;
    font-weight: bold;
    min-width: 80px;
}


.UIBar {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}

.UIBar a {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.UIBar .right {
    float: right;
}

.UIButton {
    padding: 8px;
    display: inline-block;
    margin-left: 3px;
}

.ImageButton {
    margin-bottom: -3px;
}

.UIButton:first-child {
    margin-left: 0;
}

.UIBar .left {
    margin-left: 0;
}


.Notification {
    position: fixed;
    top: 20px;
    right: 20px;
    max-width: 500px;
    padding: 15px;
    background: black;
    color: rgb(240, 240, 220);
    box-shadow: 2px 2px 3px black;
    border: 1px solid rgb(40, 40, 40);
    border-radius: 5px;
    font-weight: bold;
}






@media (min-width: 800px) {

#content {
    padding-top: 80px;
}

}


@media (max-width: 600px) {

.Text {
    margin-bottom: 10px;
    width: 95%;
    font-size: 1.2em;
    padding-left: 0;
    padding-right: 0;
}

.MessageBox {
    min-width: 0;
    width: 90%;
    position: relative;
    left: 0;
    transform: translate(0, 0);
}

.SaveScreen li[data-type=slot] {
    width: 90%;
    float: none;
    margin: auto;
}

.Settings {
    width: 90%;
}

.Settings .Label {
    display: block;
}

.OptionsContainer {
    text-align: left;
    margin-bottom: 10px;
}

.Option {
    text-align: left;
    margin: 0;
    display: block;
}

.UIBar {
    box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.4);
    background: #2d2929;
    background: -moz-linear-gradient(top, #2d2929 0%, #111111 100%);
    background: -webkit-linear-gradient(top, #2d2929 0%,#111111 100%);
    background: linear-gradient(to bottom, #2d2929 0%,#111111 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2929', endColorstr='#111111',GradientType=0 );
}

}

@media (max-width: 800px) {

.Text {
    margin-bottom: 10px;
    max-width: 90%;
    font-size: 1.3em;
}

.Toothrot {
    padding-bottom: 80px;
}

.SaveScreen .Slots {
    padding-top: 20px;
    margin-left: 0;
}

}

@media (min-width: 1000px) {

#content .Text {
    max-width: 900px;
}

}

@media (max-width: 1220px) {

.SaveScreen li[data-type=slot] {
    border-radius: 5px;
    display: block;
    float: none;
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
}

.SaveScreen .Slots {
    left: -20px;
}

}

@media (min-width: 1600px) {

#content .Text {
    max-width: 1200px;
}

}

.separator {
    height: 2px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
    opacity: 0.1;
    width: 90%;
    border-radius: 100%;
}

.separator:first-child {
    opacity: 0;
    margin-top: 100%;
    transform: translate(0, -100%);
}

.TextItem {
    transition-duration: 0.5s;
    opacity: 1;
}

.TextItem.current {
    margin-bottom: 60px;
}

.disarmed {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
}

.disarmed.clicked {
    opacity: 1;
}

.Option.disarmed.clicked {
    opacity: 0.8;
}

.link.clicked {
    color: white;
}

.next-indicator {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 430px;
    cursor: pointer;
    z-index: 1000;
    opacity: 0.8;
    transition-duration: 0.5s;
    text-align: center;
    pointer-events: none;
}

.next-indicator.disabled {
    opacity: 0;
}


/*

Spinner animation license:

The MIT License (MIT)

Copyright (c) 2015 Tobias Ahlin

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
the Software, and to permit persons to whom the Software is furnished to do so,
subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

*/

.spinner {
    margin: 5px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

