<div class="message-box">
    <div class="message">
        {message}
    </div>
    <div class="button-bar">
        <span
            class="button"
            data-focus-mode="messagebox"
            tabindex="0"
            role="button"
            data-type="messagebox-button"
            data-value="yes">Yes</span>
        <span
            class="button"
            data-focus-mode="messagebox"
            tabindex="0"
            role="button"
            data-type="messagebox-button"
            data-value="no">No</span>
    </div>
</div>