<div class="MessageBox">
    <div class="Message">
        {message}
    </div>
    <div class="ButtonBar">
        <span
            class="Button"
            data-focus-mode="messagebox"
            tabindex="0"
            role="button"
            data-type="messagebox-button"
            data-value="yes">Yes</span>
        <span
            class="Button"
            data-focus-mode="messagebox"
            tabindex="0"
            role="button"
            data-type="messagebox-button"
            data-value="no">No</span>
    </div>
</div>