<div class="UI">
    <div class="UIBar UIBottomBar">
        <div class="right">
            <div
                class="Button UIButton ImageButton"
                data-type="button"
                data-focus-mode="node"
                tabindex="0"
                role="button"
                data-action="openScreen"
                data-screen="pause"><img src="style/barsHorizontal.png" alt="Menu" /></div>
        </div>
        <div class="left">
            <div
                class="Button UIButton ImageButton"
                data-type="button"
                data-focus-mode="node"
                tabindex="0"
                role="button"
                data-action="quickSave"
                data-slot-name="qs1"><img src="style/import.png" alt="Quick Save"
                    title="Quick Save" /></div>
            <div
                class="Button UIButton ImageButton"
                data-type="button"
                data-focus-mode="node"
                tabindex="0"
                role="button"
                data-action="quickLoad"
                data-slot-name="qs1"><img src="style/export.png" alt="Quick Load" 
                    title="Quick Load" /></div>
            <div
                class="Button UIButton ImageButton"
                data-type="button"
                data-focus-mode="node"
                tabindex="0"
                role="button"
                data-action="toggleFullscreen"
                data-feature="fullscreen"><img src="style/larger.png" alt="Fullscreen"
                    title="Toggle Fullscreen" /></div>
        </div>
    </div>
</div>