<div class="UI">
    <div class="UIBar UIBottomBar">
        <div class="right">
            <a
                class="link"
                data-type="button"
                data-focus-mode="node"
                tabindex="0"
                role="button"
                data-action="openScreen"
                data-screen="pause">Menu</a>
        </div>
        <div class="left">
            <a
                class="link"
                data-type="button"
                data-focus-mode="node"
                tabindex="0"
                role="button"
                data-action="quickSave"
                data-slot-name="qs1">Save</a>
            <a
                class="link"
                data-type="button"
                data-focus-mode="node"
                tabindex="0"
                role="button"
                data-action="quickLoad"
                data-slot-name="qs1">Load</a>
            <a
                class="link fullscreen-link"
                data-type="button"
                data-focus-mode="node"
                tabindex="0"
                role="button"
                data-action="toggleFullscreen"
                data-feature="fullscreen">Fullscreen</a>
        </div>
    </div>
    <div class="next-indicator disabled">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>