<div class="UI">
    <div class="UIBar UIBottomBar">
        <div class="right">
            <div
                class="Button UIButton"
                data-focus-mode="node"
                data-action="openScreen"
                data-screen="pause">Menu</div>
        </div>
        <div class="left">
            <div
                class="Button UIButton"
                data-focus-mode="node"
                data-action="quickSave"
                data-slot-name="qs1">Quick Save</div>
            <div
                class="Button UIButton"
                data-focus-mode="node"
                data-action="quickLoad"
                data-slot-name="qs1">Quick Load</div>
            <div
                class="Button UIButton"
                data-focus-mode="node"
                data-action="toggleFullscreen"
                data-feature="fullscreen">Fullscreen</div>
        </div>
    </div>
</div>